header {
  @include flex(flex, space-between, center);
  margin: 10px 0px;

  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 3em;
    margin-left: 50px;
    margin-bottom: 0;
    font-weight: 500;
    color: rgb(72, 71, 71);

    &::first-letter {
      font-size: 1.7em;
      font-weight: 900;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
  }

  nav {
    .contactServices {
      @include flex(flex, center, center);
      a {
        @extend %botonGenerico;
      }
    }
  }
}
