// header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;

  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 3em;
    margin-left: 50px;
    margin-bottom: 0;
    font-weight: 500;
    color: rgb(72, 71, 71);

    &::first-letter {
      font-size: 1.7em;
      font-weight: 900;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
  }

  nav {
    .contactServices {
      display: flex;
      justify-content: center;
      a {
        width: 140px;
        margin: 3px;
        border: none;
        background-color: $colorBotonBackground;
        color: aliceblue;
        border-radius: 9px;
        padding: 7px 28px;
        text-decoration: none;

        &:hover {
          background-color: $colorBotonBackgroundHover;
          box-shadow: $boxShhadowGeneral;
        }
      }
    }
  }
}
