#infoServicios {
  margin: auto;
  padding: 50px;
  @include flex(flex, space-around, center);
  width: 80%;
  background-image: url("../img/music production.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 10px;
  .card {
    .card-body {
      a {
        @extend %botonGenerico;
      }
    }
  }
}
