#infoServicios {
  margin: auto;
  padding: 50px;
  @include flex(flex, space-around, center);
  width: 80%;
  background-image: url("../img/music production.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 10px;
  .card {
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
      box-shadow: $boxShhadowGeneral;
    }
    .card-body {
      @include flex(flex, center, center);
      flex-direction: column;
      a {
        width: 180px;
        @extend %botonGenerico;
        &:hover {
          width: 190px;
        }
      }
    }
  }
}
