#infoServicios {
  margin: auto;
  padding: 50px;
  display: flex;
  width: 80%;
  justify-content: space-around;
  background-image: url("../img/music production.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 10px;
}
