#seccionContacto,
#seccionClases,
#seccionProduccion,
#seccionVideos {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: $backgorundColorExtra;
  box-shadow: $boxShhadowGeneral;
  border-radius: 5px;
  width: 80%;
  div {
    ul {
      margin-right: 30px;
      list-style: none;
    }
  }

  h1,
  h2,
  ul {
    margin-bottom: 20px;
  }
}
#headerPginasExtras {
  h1 {
    margin-left: 50px;
  }
  nav {
    display: flex;
    a {
      @extend %botonGenerico;
    }
  }
}
