// Media queries
@media screen and (max-width: 950px) {
  #infoEmpresa {
    div {
      padding: 20px;
      margin: 10px 100px;
    }
  }
}

@media screen and (max-width: 870px) {
  #infoServicios {
    padding: 20px;
    width: 90%;
  }
  #banner {
    width: 90%;
  }

  #headerPginasExtras {
    display: block;
    h1 {
      margin: auto;
    }
    nav {
      @include flex(flex, center, center);
    }
  }
  #seccionVideos {
    padding: 10px;
    div {
      @include flex(flex, center, center);
      flex-direction: column;
      video {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  header {
    display: block;
    h1 {
      margin: auto;
    }
    nav {
      margin: auto;
    }
  }

  #banner {
    width: 100%;
    border-radius: 0;
  }

  #infoServicios {
    padding: 20px;
    width: 100%;
    border-radius: 0;
  }
  #seccionContacto,
  #seccionClases,
  #seccionProduccion,
  #seccionVideos {
    width: 100%;
    margin-top: 12px;
  }
}

@media screen and (max-width: 650px) {
  #infoServicios {
    flex-direction: column;
    @include flex(flex, center, center);
    div {
      margin-top: 19px;
    }
  }
}

@media screen and (max-width: 580px) {
  #banner {
    display: block;
    .cajaBajo1,
    .cajaBajo2 {
      width: 100%;
    }
    .cajaBajo1 {
      margin-bottom: 10px;
    }
  }

  #infoEmpresa {
    div {
      padding: 10px;
      margin: 10px 50px;
    }
  }
}

@media screen and (max-width: 550px) {
  header {
    nav {
      .contactServices {
        display: flex;
        flex-direction: column;
        margin: auto;
        a {
          padding: 5px 10px;
        }
      }
    }
  }
  #seccionContacto h1 {
    font-size: 2em;
  }
  #seccionClases h1,
  #seccionProduccion h1 {
    font-size: 2.4em;
  }

  #headerPginasExtras {
    nav {
      flex-direction: column;
      @include flex(flex, center, center);
    }
  }
}

@media screen and (max-width: 350px) {
  #infoEmpresa {
    div {
      padding: 10px;
      margin: 10px;
    }
  }
}
